<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page</title>
    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body class="bg-gray-900 text-white">
    <div class="container mx-auto py-10">
      <div class="flex justify-between items-center mb-6">
        <!-- Logo or Site Name -->
        <h1 class="text-3xl font-bold">Tekmedika</h1>
        <!-- Logout Button -->
        <!-- <button id="logoutBtn" class="bg-red-500 text-white px-4 py-2 rounded">
          Logout
        </button> -->
      </div>
      <h1 class="text-3xl font-bold mb-6">Part Entry Page</h1>
      <!-- Dropdowns -->
      <div class="flex mb-4">
        <!-- Dropdown 1 -->
        <div class="mr-4">
          <label for="header" class="block font-semibold mb-1">Header</label>
          <select
            id="header"
            name="header"
            class="w-56 p-2 border rounded focus:outline-none focus:border-blue-500 bg-gray-800 text-white"
          >
            <option value="">Select</option>
            <!-- Options will be populated dynamically here -->
          </select>
        </div>
        <!-- Dropdown 2 -->
        <div class="mr-4">
          <label for="commodity" class="block font-semibold mb-1"
            >Commodity</label
          >
          <select
            id="commodity"
            name="commodity"
            class="w-56 p-2 border rounded focus:outline-none focus:border-blue-500 bg-gray-800 text-white"
          >
            <option value="">Select</option>
            <!-- Default option -->
            <!-- Options will be populated dynamically here -->
          </select>
        </div>
        <!-- Dropdown 3 -->
        <div class="mr-4" id="subcommodityDropdownDiv">
          <label for="subcommodity" class="block font-semibold mb-1"
            >Sub Commodity</label
          >
          <select
            id="subcommodity"
            name="subcommodity"
            class="w-56 p-2 border rounded focus:outline-none focus:border-blue-500 bg-gray-800 text-white"
          >
            <option value="">Select</option>
            <!-- Default option -->
            <!-- Sub commodity options will be populated dynamically here -->
          </select>
        </div>
        <p class="text-white text-[2vw] flex items-center ml-[3vw]" id="Partno"> RAM</p>
      </div>
      <!-- Description Field -->
      <div class="mb-4">
        <label for="description" class="block font-semibold mb-1"
          >Description</label
        >
        <textarea
          id="description"
          name="description"
          rows="4"
          class="w-full p-2 border rounded focus:outline-none focus:border-blue-500 bg-gray-800 text-white"
        ></textarea>
      </div>
      <!-- Buttons -->
      <div class="flex">
        <button
          id="addPartBtn"
          class="bg-blue-500 text-white px-4 py-2 rounded mr-2"
        >
          Add Part
        </button>
        <button
          id="editPartBtn"
          class="bg-green-500 text-white px-4 py-2 rounded"
        >
          Edit Part
        </button>
      </div>

      <!-- Input field for part number -->
      <div id="partInput" style="display: none" class="mt-4">
        <label for="partNumber" class="block font-semibold mb-1"
          >Part Number (001-999)</label
        >
        <input
          type="number"
          min="1"
          max="999"
          id="partNumber"
          name="partNumber"
          class="w-56 p-2 border rounded focus:outline-none focus:border-blue-500 bg-gray-800 text-white"
        />
        <button
          id="submitPartBtn"
          class="bg-blue-500 text-white px-4 py-2 rounded mt-2"
        >
          Submit
        </button>
      </div>
    </div>
    <script>
      // Fetch data for headers
      fetch("/getheader")
        .then((response) => response.json())
        .then((headers) => {
          const headerDropdown = document.getElementById("header");
          headers.forEach((header) => {
            const option = document.createElement("option");
            option.text = header.Definition;
            option.value = header.code; // Change to the appropriate property for definition
            headerDropdown.add(option);
          });
        });

      // Fetch data for commodities
      fetch("/getcommodity")
        .then((response) => response.json())
        .then((commodities) => {
          const commodityDropdown = document.getElementById("commodity");
          commodities.forEach((commodity) => {
            const option = document.createElement("option");
            option.text = commodity.Definition;
            option.value = commodity.code; // Change to the appropriate property for definition
            commodityDropdown.add(option);
          });
        });

      // Handle commodity selection to populate subcommodity dropdown
      document
        .getElementById("commodity")
        .addEventListener("change", function () {
          const commodityCode = this.value;
          fetch("/getsubcommodity", {
            method: "POST",
            headers: {
              "Content-Type": "application/json",
            },
            body: JSON.stringify({ code: commodityCode }),
          })
            .then((response) => response.json())
            .then((subcommodities) => {
              const subcommodityDropdown =
                document.getElementById("subcommodity");
              subcommodityDropdown.innerHTML = ""; // Clear existing options
              subcommodities.forEach((subcommodity) => {
                const option = document.createElement("option");
                option.text = subcommodity.Definition;
                option.value = subcommodity.index; // Change to the appropriate property for definition
                subcommodityDropdown.add(option);
              });
            });
        });

      // Add click event listeners for buttons
      // Function to toggle visibility of part input field
      function togglePartInputVisibility(visible) {
        document.getElementById("partInput").style.display = visible
          ? "block"
          : "none";
      }

      // Add click event listener for "Edit Part" button
      document
        .getElementById("editPartBtn")
        .addEventListener("click", function () {
          // Toggle visibility of part input field
          togglePartInputVisibility(true);
        });

      document.getElementById("partNumber").onkeypress = function (e) {
        var ev = e || window.event;
        if (ev.charCode < 48 || ev.charCode > 57) {
          return false;
        } else if (this.value * 10 + ev.charCode - 48 > this.max) {
          return false;
        } else {
          return true;
        }
      };

      // Add click event listener for "Submit" button in part input field
      document
        .getElementById("submitPartBtn")
        .addEventListener("click", function () {
          // Get values of header, commodity, subcommodity, and part number
          const header = document.getElementById("header").value;
          const commodity = document.getElementById("commodity").value;
          const subcommodity = document.getElementById("subcommodity").value;
          const partNumber = document.getElementById("partNumber").value;
          const description = document.getElementById("description").value;

          // Send data to the server
          fetch("/createpartNumber", {
            method: "POST",
            headers: {
              "Content-Type": "application/json",
            },
            body: JSON.stringify({
              header: header,
              Commodity: commodity,
              subCommodity: subcommodity,
              Part_No: partNumber,
              Definition: description,
            }),
          })
            .then((response) => {
              if (response.status) {
                response.json().then(data => {
                alert(data.status);
                console.log(data.serial_No.serial_No)
                document.getElementById("Partno").innerHTML = data.serial_No.serial_No
               });
                console.log("Part number submitted successfully");
                // Add your code to handle success, e.g., show a success message to the user
              } else {
                console.error("Failed to submit part number");
                // Add your code to handle failure, e.g., show an error message to the user
              }
            })
            .catch((error) => {
              console.error("Error:", error);
              // Add your code to handle errors, e.g., show an error message to the user
            });

          // Toggle visibility of part input field
          togglePartInputVisibility(false);
        });

      // Add click event listener for "Add Part" button
      document
        .getElementById("addPartBtn")
        .addEventListener("click", function () {
          // Get values of header, commodity, subcommodity
          const header = document.getElementById("header").value;
          const commodity = document.getElementById("commodity").value;
          const subcommodity = document.getElementById("subcommodity").value;
          const description = document.getElementById("description").value;

          console.log(
            "Add Part button clicked with data:",
            header,
            commodity,
            subcommodity,
            description
          );
          // Add your code to send data to the server without part number

          fetch("/createpartNumber", {
            method: "POST",
            headers: {
              "Content-Type": "application/json",
            },
            body: JSON.stringify({
              header: header,
              Commodity: commodity,
              subCommodity: subcommodity,
              Definition: description,
            }),
          })
            .then((response) => {
              if (response.status) {
                response.json().then(data => {
                alert(data.status);
                console.log(data.serial_No.serial_No)
                document.getElementById("Partno").innerHTML = data.serial_No.serial_No
               });
                console.log("Part number submitted successfully");
                // Add your code to handle success, e.g., show a success message to the user
              } else {
                console.error("Failed to submit part number");
                // Add your code to handle failure, e.g., show an error message to the user
              }
            })
            .catch((error) => {
              console.error("Error:", error);
              // Add your code to handle errors, e.g., show an error message to the user
            });
        });
    </script>
  </body>
</html>